
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@Html.Action("PartialHead", "Default")
<body>
    <div class="header_section">
        @Html.Action("PartialNavbar", "Default")
        <!-- banner section start -->
        @Html.Action("PartialSlider", "Default")

        <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- about sectuion start -->
    @Html.Action("PartialAbout", "Default")
    <!-- about sectuion end -->
    <!-- cream sectuion start -->
    @Html.Action("PartialLast6Product", "Default")
    <!-- cream sectuion end -->
    <!-- services section start -->
    @Html.Action("PartialService", "Default")
    <!-- services section end -->
    <!-- testimonial section start -->
    @Html.Action("PartialTesimonial", "Default")
    <!-- testimonial section end -->
    <!-- contact section start -->
   @Html.Action("PartialContact","Default")
 
   
    <!-- contact section end -->
    <!-- copyright section start -->
    @Html.Action("PartialScript", "Default")
</body>
</html>