@model List<AcunmedyaAkademiProject2.Entities.Slider>

@{
    int count = 0;
}

<div class="banner_section layout_padding">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
            </ol>
            <div class="carousel-inner">
                @foreach (var item in Model)
                {
                    count++;
                    if (count == 1)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1 class="banner_taital">@item.Title</h1>
                                    <p class="banner_text">@item.Description</p>
                                    <div class="started_text"><a href="#">Sipariş Ver</a></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="banner_img"><img src="@item.ImageUrl"></div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h1 class="banner_taital">@item.Title</h1>
                                    <p class="banner_text">@item.Description</p>
                                    <div class="started_text"><a href="#">Sipariş Ver</a></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="banner_img"><img src="@item.ImageUrl"></div>
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
        </div>
    </div>
</div>
