@model List<AcunmedyaAkademiProject2.Entities.About>

@{
    Layout = null;
}

@Html.Action("PartialHead", "Default")

<body>
    @Html.Action("PartialNavbar", "Default")

    @if (Model != null && Model.Any())
    {
        var item = Model.First(); // İlk elemanı al

        <div class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_img"><img src="@item.ImageUrl" alt="About Image"></div>  
                    </div>
                    <div class="col-md-6">
                        <h1 class="about_taital">@item.Title</h1>
                        <p class="about_text">@item.Decsription</p> 
                        <div class="read_bt_1"><a href="/Reservation/Index">Rezervasyon Yapın</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Gösterilecek içerik bulunamadı.</p> @* Model boşsa veya null ise bir mesaj göster *@
    }

   
    @*@foreach (var item in Model)
        {
            <div class="about_section layout_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about_img"><img src="@item.ImageUrl" alt="About Image"></div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="about_taital">@item.Title</h1>
                            <p class="about_text">@item.Description</p>
                            <div class="read_bt_1"><a href="/Reservation/Index">Rezervasyon Yapın</a></div>
                        </div>
                    </div>
                </div>
            </div>
        }*@

</body>

@Html.Action("PartialScript", "Default")