@model List<AcunmedyaAkademiProject2.Entities.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Ürün Listesi</strong>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("CreateProduct", "AdminProduct")" class="btn btn-success mb-3">
                            <i class="fa fa-plus"></i> Yeni Ürün Ekle
                        </a>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ürün Adı</th>
                                    <th scope="col">Ürün Görseli</th>
                                    <th scope="col">Fiyat</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Açıklama</th>
                                    <th scope="col">İçindekiler</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.ProductId</th>
                                        <td>@item.ProductName</td>
                                        <td><img src="@item.ImageUrl" alt="Ürün Görseli" style="width:50px; height:auto;" /></td>
                                        <td>@item.Price</td>
                                        <td>@item.Category.CategoryName</td>
                                        <td>@item.Description</td>
                                        <td>@item.Ingredients</td>
                                        <td>
                                            <a href="@Url.Action("UpdateProduct", "AdminProduct", new { id = item.ProductId })" class="btn btn-warning btn-sm">
                                                <i class="fa fa-edit"></i> Güncelle
                                            </a>
                                            <a href="@Url.Action("DeleteProduct", "AdminProduct", new { id = item.ProductId })" class="btn btn-danger btn-sm" onclick="return confirm('Bu ürünü silmek istediğinize emin misiniz?');">
                                                <i class="fa fa-trash"></i> Sil
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>