@model List<AcunmedyaAkademiProject2.Entities.Slider>
@{
    ViewBag.Title = "Slider Listesi";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Slider Listesi</strong>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("CreateSlider", "AdminSlider")" class="btn btn-success mb-3">
                            <i class="fa fa-plus"></i> Yeni Slider Ekle
                        </a>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Görsel</th>
                                    <th>Başlık</th>
                                    <th>Açıklama</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.SliderId</td>
                                        <td>
                                            <img src="@item.ImageUrl" alt="Slider Görseli" style="width:50px; height:auto;" />
                                        </td>
                                        <td>@item.Title</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <a href="@Url.Action("UpdateSlider", "AdminSlider", new { id = item.SliderId })" class="btn btn-warning btn-sm">
                                                <i class="fa fa-edit"></i> Güncelle
                                            </a>
                                            <a href="@Url.Action("DeleteSlider", "AdminSlider", new { id = item.SliderId })" class="btn btn-danger btn-sm" onclick="return confirm('Bu sliderı silmek istediğinize emin misiniz?');">
                                                <i class="fa fa-trash"></i> Sil
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>