@model List<AcunmedyaAkademiProject2.Entities.Product>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@Html.Action("PartialHead", "Default")
<body>
    @Html.Action("PartialNavbar", "Default")
    <!-- header section end -->
    <!-- cream sectuion start -->
    <div class="cream_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="cream_taital">Tatlı ve Pastalarımız</h1>
                    <p class="cream_text">En lezzetli ve uygun fiyatlı tatlılarımız sizleri bekliyor.</p>
                </div>
            </div>
            <div class="cream_section_2">
                <div class="row">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-4">
                            <div class="cream_box">
                                <div class="cream_img"><img src="@item.ImageUrl" style="width:500px;height:250px;"></div>
                                <div class="price_text">₺@item.Price</div>
                                <h6 class="strawberry_text">@item.ProductName</h6>
                                <div class="cart_bt"><a href="#">Detaylar</a></div>
                            </div>
                        </div>
                    }


                </div>
            </div>


        </div>
    </div>
    <!-- cream sectuion end -->
    <!-- copyright section start -->
    <div class="copyright_section margin_top90">
        <div class="container">
            <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a> Distribution by <a href="https://themewagon.com">ThemeWagon</a></p>
        </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    @Html.Action("PartialScript", "Default")
</body>
</html>